{% extends 'video_application/base.html' %}

{% block content %}
    <br>
    <h1 class="text-center">{{ director }}</h1>
    <br>
    <div class="container mx-auto w-50">
        <div class="row">
            {% for film in films %}
                <div class="col-md-12">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-right">{{ film.name }}</h2>
                            <h5>Рейтинг: {{ film.rating }}</h5>
                            <h5>Бюджет: {{ film.budget }} {{ film.cur_id }}</h5>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div class="btn-group">
                                    <a href="{{ film.get_url }}" class="btn btn-primary">Подробнее</a>
                                </div>
                                <small class="text-muted">{{ film.year }}</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}