{% extends 'video_application/base.html' %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>{{ context.name }}</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                <h3>Год выпуска: {{ context.year }}</h3>
                <h3>Рейтинг картины: {{ context.rating }}</h3>
                <h3>Бюджет картины: {{ context.budget }} {{ context.cur_id }}</h3>
            </h5>
            <p class="card-text">
            <h3>
                Режиссер: <a href="{{ context.director.get_url }}">{{ context.director }}</a>
            </h3>
            <br>
            <h3>Актеры: </h3>
            {% for actor in context.actors.all %}
                <h4><a href="{{ actor.get_url }}"> {{ actor.first_name }} {{ actor.last_name }}</h4>
            {% endfor %}
            </p>
            <div class="btn-group" style="">
                <a href="{% url 'delete_film' slug=context.slug %}" class="btn btn-danger">Удалить</a>
            </div>
            <div class="btn-group" style="">
                <a href="{% url 'edit_film' slug=context.slug %}" class="btn btn-info mx-2">Редактировать</a>
            </div>
        </div>
    </div>
{% endblock %}